/* Additonal configuration for the Bovine TB pipeline, using docker defined in the profile
   This configuration will be appended to main config: nextflow.config , when use as following:
   #nextflow run btb-docker.nf -c nextflow-docker.config -with-docker apha-btb:v0.4.0
*/

process.scratch = true
process.echo = true

profiles {
    standard {
        process{
            errorStrategy = 'retry' 
            maxErrors = 1
        }

        env {
            SCRIPT_PATH = "/home/aphabtb/pyscripts"
            TOOLS_PATH = "/biotools"
            FASTUNIQ = "$TOOLS_PATH/FastUniq-1.1"
            TRIM = "$TOOLS_PATH/Trimmomatic-0.38"
            BWA = "$TOOLS_PATH/bwa-0.7.17"
            SAMTOOLS = "$TOOLS_PATH/samtools-1.9"
            BCFTOOLS = "$TOOLS_PATH/bcftools-1.9"
        }
    }
}



