/* Additonal configuration for the Bovine TB pipeline, using docker defined in the profile
   This configuration will be appended to main config: nextflow.config , when use as following:
   nextflow run btb-docker.nf -c nextflow-docker.config --kraken2db krakendb/minikraken2_v1_8GB -profile docker -resume
*/

process.scratch = true
process.echo = true

profiles {
    standard {
        singularity {
            enabled = true
        }
        process{

            withLabel: btb { 
                container = '/data/images/apha-btb-v0.5.4.img'
            }
            errorStrategy = 'ignore' 
        }

        env {
            TOOLS_PATH = "/biotools"
            FASTUNIQ = "$TOOLS_PATH/FastUniq-1.1"
            TRIM = "$TOOLS_PATH/Trimmomatic-0.38"
            BWA = "$TOOLS_PATH/bwa-0.7.17"
            SAMTOOLS = "$TOOLS_PATH/samtools-1.9"
            BCFTOOLS = "$TOOLS_PATH/bcftools-1.9"
            BLAST = "$TOOLS_PATH/ncbi-blast-2.9.0+/bin"
            KRAKEN2 = "$TOOLS_PATH/Kraken2"
        }
    }

    docker {
        docker {
            enabled = true
        }
        process{
            withLabel: btb { 
                container = 'apha-btb:latest'
            }
        }
        env {
            TOOLS_PATH = "/biotools"
            FASTUNIQ = "$TOOLS_PATH/FastUniq-1.1"
            TRIM = "$TOOLS_PATH/Trimmomatic-0.38"
            BWA = "$TOOLS_PATH/bwa-0.7.17"
            SAMTOOLS = "$TOOLS_PATH/samtools-1.9"
            BCFTOOLS = "$TOOLS_PATH/bcftools-1.9"
            BLAST = "$TOOLS_PATH/ncbi-blast-2.9.0+/bin"
            KRAKEN2 = "$TOOLS_PATH/Kraken2"
        }
    }
}



